.container {
    display: flex;
    font-family: 'Protest Guerrilla', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(#000000, #121212);
    overflow: hidden;
    color: #fff;
}